body {
     background-color: #462B38;
 }


 #hero-content {
     position: relative;
     height: 100%;
     width: auto;
     opacity:1;
     text-align: center;
     background-color: #462B38;
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
     z-index: -1;
 }

 #hero-content #hero-icon {
   position: relative;
   align-content: center;
 }

 #hero-title {
     position: fixed;
     padding: 10%;
     top: 50%;
     -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
     transform: translateY(-50%);
     width: 100%;
     height: 100%;
     text-align: center;
     font-size: 3rem;
     font-weight: 300;
     text-transform: uppercase;
     letter-spacing: 0.5rem;
     text-shadow: 1px 1px 0px rgb(58,23,63);
     z-index: -1;
 }

 .about {
   padding: 5%;
   background-color: transparent;
   z-index: 1;
 }
 .point {
   padding: 5%;
   background-color: transparent;
   z-index: 1;
 }

 #about-me-container {
    position: relative;
		height:  100%;
		width: 100%;
		top: 20%;
		left: 0;
		float: left;
		transform: translateX(-100%);
  }

  #photo-container {
    position: relative;
		height: 100%;
		width: 100%;
		top: 20%;
		right: 0;
		float: right;
    background-color:
		transform: translateX(100%);
   }





 .point-title {
   padding-top: 20%;
   background-color: transparent;
   z-index: 1;
 }
 .find-me {
   padding: 5%;
   background-color: transparent;
   z-index: 1;
 }
