body {
   background-color: #FFFFFF;
   color: #32323B;
   margin:0;
 }

 h2 {
   margin-bottom: 10px;
 }

 h4 {
   font-size: 18px;
   letter-spacing: .2rem;
   margin-bottom: 30px;
   margin-top: 0px;
 }

  h5 {
    margin-bottom: 10px;
  }

 p {
   font-size: 16px;
   line-height: 1.5rem;
   font-weight: 300;
   color: #32323B;
   margin-top: 0px;
 }

 button {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-style: "lato";
    font-weight: 300;
    border: 2px solid #7AD2FA;
    color:#7AD2FA;
 }

 button:hover {
   background-color: #7AD2FA;
   color: #FFFFFF;
 }

 ul {
    padding: 0;
    list-style-type: none;
 }

 a {
   text-decoration: none;
 }

 .margin {
   margin-left: 5%;
   margin-right:5%;
   }

 section {
   padding-top: 5%;
   padding-bottom: 5%;
 }


/* NAVIGATION */
  #navbar {
    background-color: #F8E71C;
  }
/* HERO */
  #hero-content {
    position: relative;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 12rem;
    padding-bottom: 15rem;
    background-size: cover;
    text-align: center;
    z-index: -1;
    }

  #hero-content h1 {
    margin: 0;
  }

  #hero-content h4 {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 50px;
  }

/* OVERVIEW SECTION */
  .intro {
    position: relative;
    z-index: 1;
  }

  .intro .photo {
    position: relative;
    max-width: 100%;
    padding-right: 1rem;
    padding-top: 5%;
    align-items: center;
  }
  .intro h4 {
    position: relative;
    max-width: 100%;
    font-size: 16px;
    font-weight: 500;
    color: #DEC58B;
  }
  .intro p {
    position: relative;
    max-width: 100%;
  }

/* RESEARCH SECTION */
    .research-containter {
      position: relative;
      width: 100%;
      padding-bottom: 5%;
    }
    .research-title {
      position: relative;
      width: 100%;
      opacity:1;
      background-position: center center;
      background-size: cover;
    }
      .research-title h4 {
        text-align: left;
        font-weight: 300;
      }

      .point-description h2 {
        color: #F7334A;
        font-size: 56px;
        padding-top: 30px;

      }

      .highlights h5 {
        position:absolute;
        background: #61DAAA;
        text-align:left;
        vertical-align: middle;
        padding:15px 30px;
        color: #FFFFFF;
      }

      #map  h5 {
        position: relative;
      }

      #map  p {
        position: relative;
      }

      .map-image {
        max-width: 80%;
        float:right;
      }
  /* RESEARCH COLUMN */
    .research {
      position: relative;
      z-index: 1;
    }
      .research h4 {
        position: relative;
        max-width: 100%;
        font-size: 16px;
        font-weight: 500;
        color: #DEC58B;
      }
      .research h5 {
      }
      .research p {
        position: relative;
        max-width: 100%;
      }

  /* PAIN POINTS COLUMN */
    .pain {
      position: relative;
      z-index: 1;
    }
      .pain h4 {
        position: relative;
        max-width: 100%;
        font-size: 16px;
        font-weight: 500;
        color: #DEC58B;
      }
      .pain h5 {
      }
      .pain p {
        position: relative;
        max-width: 100%;
      }

/* USERS AND PERSONAS COLUMN */

    .personas-title {
      position: relative;
      width: 100%;
    }
    .personas-title h4 {
      text-align: left;
      color: #DEC58B;
      font-weight: 500;
    }
    .personas-images {
      position: relative;
      bottom: 0px;
    }
    .personas-photo {
      width: 100px;
      padding-right: .5rem;
      padding-top: 1rem;
    }

    .competitive-photo {

      height:100px;
      padding-right: .5rem;
      padding-top: 1rem;
    }


/* REBRAND SECTION */
    .flows-title {
      position: relative;
      width: 100%;
      opacity:1;
    }
    .flows-title h4 {
      text-align: left;
      font-weight: 300;
    }
    .flows-title h2 {
  }

    .flows-title h5 {
    }

    .flows {
     background-image: url("Sitemap-user-flow.png");
     /* background-color: #cccccc; */
    }
    /* .brand {
      padding-left: 0;
    }

    .brand .photo {
      position: relative;
      max-width: 100%;
      align-items: center;
    }
    .brand h4 {
      position: relative;
      max-width: 100%;
      padding-right: 5%;
      font-size: 16px;
      font-weight: 500;
      color: #DEC58B;
    } */


/* DESIGN SECTION */
.design {
  position: relative;
}
.design-title {
  position: relative;
  width: 100%;
  opacity:1;
  background-position: center center;
  background-size: cover;
}
.design-title h2 {
  text-align: left;
}
.design-title p {
}

.subtitles h4 {
  text-align: left;
  color: #DEC58B;
  font-weight: 500;

}

.design-image{
  text-align: center;
  width: 100%;
  display: block;
}

  #prototype-button {
    text-align: center;
    display: block;
  }

  .invision {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #projects {
    position: relative;
    background-color: #7AD2FA;
    color: #FFFFFF;
    padding: 10%;
    opacity:1;
    text-align: left;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  #projects h2 {
    padding: 1rem;
  }

  #projects p {
    color: #FFFFFF;
  }

  .case {
    position: relative;
    width: 100%;
  }

  .thumbnail {
    border: solid white 5px;
  }

  .thumbnail:hover {
   -webkit-transform: rotate(4deg); /* Safari */
   transform: rotate(4deg);
  }

  .overlay p {
    text-align: center;
  }

@media (min-width: 640px) {

  .margin {
    margin-left: 20%;
    margin-right:20%;
    }

    .intro .photo {
      max-width: 140%;
      margin-left: -40%;
    }

    .brand .photo {
      max-width: 140%;
    }
  }

  #map  p {
    position: absolute;
    max-width: 500px;
  }

    .feedback-column-fourth {
      width: 25%;
      float: left;
      color: #511723;

    }
}

/* Large screens (1024px) */
@media (min-width: 1024px) {
  html { font-size: 120%; }

  .column.full { width: 100%; }
  .column.two-thirds { width: 66.7%; }
  .column.half { width: 50%; }
  .column.third { width: 33.3%; }
  .column.fourth { width: 25%; }
  .column.flow-opposite { float: right; }
  }
