body{
     background-color: #FFFFFF;
     /* border: 15px solid #511723; */
 }

 p {
   font-size: 16px;
   line-height: 1.5rem;
   font-weight: 300;
   color: #000000;
 }

 h4 {
   font-size: 16px;
   font-weight: 500;
 }

/* NAVIGATION */
 .links-container .navbar-link {
     color: #462B38;
 }

 button {
    background-color: transparent;
    border: none;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-style: "lato";
    font-weight: 300;
    border: 2px solid #2F4D55;
 }

 button:hover {
   background-color: #2F4D55;
   color: #FFFFFF;
 }

/* HERO */
  #hero-content {
    position: relative;
    width: 100%;
    opacity:1;
    padding: 10%;
    background-color: #f5f5f5;
    background-position: center center;
    background-size: cover;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    z-index: -1;
  }
  #hero-content h4 {
    font-size: 18px;
    font-weight: 300;
    color: #000000;
  }

/* OVERVIEW SECTION */
  .intro {
    position: relative;
    z-index: 1;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .intro .photo {
    position: relative;
    max-width: 85%;
    margin-left: 20%;
    padding-right: 5%;
    padding-top: 5%;
    align-items: center;

  }
  .intro h4 {
    position: relative;
    max-width: 100%;
    margin-right: 40%;
    padding-left: 5%;
    font-size: 16px;
    font-weight: 500;
    color: #DEC58B;
  }
  .intro p {
    position: relative;
    max-width: 100%;
    margin-right: 40%;
    padding-left: 5%;
  }

/* RESEARCH SECTION */
    .research-containter {
      position: relative;
      width: 100%;
      padding-bottom: 5%;
    }
    .research-containter h5{
      margin-left: 20%;
      margin-bottom: 10px;
    }
    .research-title {
      position: relative;
      width: 100%;
      opacity:1;
      background-position: center center;
      background-size: cover;
      color: #000000;
      letter-spacing: 0.3rem;
    }
    .research-title h4 {
      text-align: left;
      margin-left: 20%;
      margin-right: 20%;
      margin-top: 5px;
      color: #000000;
      font-weight: 300;
    }
    .research-title p {
      letter-spacing: 0rem;
      margin-left: 20%;
      margin-right: 20%;
      margin-top: 30px;
    }

  /* RESEARCH COLUMN */
    .research {
      position: relative;
      z-index: 1;
      margin-top: 30px;
      margin-bottom: 5%;
    }
    .research h4 {
      position: relative;
      max-width: 100%;
      margin-left: 40%;
      font-size: 16px;
      font-weight: 500;
      color: #DEC58B;
    }
    .research p {
      position: relative;
      max-width: 100%;
      margin-left: 40%;
    }

  /* PAIN POINTS COLUMN */
    .pain {
      position: relative;
      z-index: 1;
      margin-top: 30px;
      margin-bottom: 5%;
    }
    .pain h4 {
      position: relative;
      max-width: 100%;
      margin-right: 40%;
      padding-left: 5%;
      font-size: 16px;
      font-weight: 500;
      color: #DEC58B;
    }
    .pain p {
      position: relative;
      max-width: 100%;
      margin-right: 40%;
      padding-left: 5%;
    }

/* USERS AND PERSONAS COLUMN */
    .users {
      margin-left: 20%;
      margin-right: 20%;
    }
    .personas-title {
      position: relative;
      width: 100%;
      opacity:1;
      background-position: center center;
      background-size: cover;
      color: #000000;
    }
    .personas-title h4 {
      text-align: left;
      margin-top: 5px;
      color: #DEC58B;
      font-weight: 500;
    }
    .personas-title p {
      letter-spacing: 0rem;
      margin-top: 30px;
    }
    .personas-images {
      position: relative;
      padding-left: 10%;
    }
    .personas-photo {
      width: 8%;
      padding-right: .5rem;
      padding-top: 1rem;
    }


/* REBRAND SECTION */
    .branding-title {
      position: relative;
      width: 100%;
      opacity:1;
      background-position: center center;
      background-size: cover;
      color: #000000;
      letter-spacing: 0.3rem;
    }
    .branding-title h4 {
      text-align: left;
      margin-left: 20%;
      margin-right: 20%;
      margin-top: 5px;
      margin-bottom:
      color: #000000;
      font-weight: 300;
    }
    .brand {
      margin-bottom: 5%;
    }
    .brand h4 {
      position: relative;
      max-width: 100%;
      margin-left: 40%;
      padding-right: 5%;
      font-size: 16px;
      font-weight: 500;
      color: #DEC58B;
      letter-spacing: .0rem;
    }
    .brand p {
      letter-spacing: 0rem;
      margin-left: 40%;
      margin-top: 30px;
    }

/* DESIGN SECTION */
.design-title {
  position: relative;
  width: 100%;
  opacity:1;
  background-position: center center;
  background-size: cover;
  color: #000000;
  letter-spacing: 0.3rem;
}
.design-title h4 {
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5px;
  color: #000000;
  font-weight: 300;
}
.design-title p {
  letter-spacing: 0rem;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 30px;
}

.subtitles h4 {
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5px;
  color: #DEC58B;
  font-weight: 500;
  letter-spacing: 0;

}

.design-image{
  text-align: center;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

  #prototype {
    background-color: #f5f5f5;
  }
  #prototype-button {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

   .next-case-study {
     position: relative;
     width: 100%;
     opacity:1;
     background-position: center center;
     background-size: cover;
     text-align: center;
     color: #000000;
   }

   .next-case-study h4{
     color: #DEC58B;
     margin-top: 2rem;
     margin-bottom: 1rem;
   }

   .next-case-study h5{
     margin-top: 1rem;
     margin-bottom: 2rem;
   }


  .footer p{
    color:#FFFFFF;
    text-align: right;
    margin-right: 10%;
    font-weight: 100;
  }

  .contact p{
    color:#FFFFFF;
    font-weight: 100;
    float: none;
    text-align: center;
    margin-right: 10%
  }

@media (min-width: 640px) {

    }


    .feedback-column-fourth {
      width: 25%;
      float: left;
      color: #511723;

    }
}

/* Large screens (1024px) */
@media (min-width: 1024px) {
  html { font-size: 120%; }

  .column.full { width: 100%; }
  .column.two-thirds { width: 66.7%; }
  .column.half { width: 50%; }
  .column.third { width: 33.3%; }
  .column.fourth { width: 25%; }
  .column.flow-opposite { float: right; }
  }

 /* .panel {
   height: 100%;
   width: 100%;
 }

 .panel.green {
   margin-bottom: 400px
 } */
