body {
     /* background-color: #2F4D55; */
     /* border-top: 30px solid #FFFFFF;
     border-left: 30px solid #FFFFFF;
     border-right: 30px solid #FFFFFF; */
     margin: 0px;
     background-color: #FFFFFF;
 }

 #hero {
     position: relative;
     opacity:1;
    -webkit-animation-duration: 3s;  /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    /* animation-name: example; */
    animation-duration: 3s;
    animation-fill-mode: forwards;
    color: #171717;
    z-index: -1;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    from {top: 200px;opacity: 0}
    to {top: 90px;}
}

@keyframes example {
    from {top: 200px;opacity: 0}
    to {top: 90px; }
 }

 #hero-title {
     position: relative;
	 height:100vh;
     max-width: 70vw;
     padding-top: 30vh;
     padding-left: 1rem;
     padding-right: 1rem;
     margin-left: 10%;
     margin-right: 10%;
     width: 100%;
     text-align: left;
     letter-spacing: 0;
     z-index: -1;
     text-decoration: none;
     overflow:auto;
   }

   #hero-title h1 {
    letter-spacing: 0.1rem;
    font-style: "lato", sans-serif;
   }

   @-webkit-keyframes mymove {
      from {background-color: #FFFFFF;}
      to {background-color: #7AD2FA;}
    }

   #projects {
     position: relative;
     background-color: #171717;
     color: #FFFFFF;
     padding: 10%;
     opacity:1;
     text-align: left;
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
   }

   #projects h2 {
     padding: 1rem;
   }

   .case {
     position: relative;
     width: 100%;
   }

   .thumbnail {
     border: solid white 5px;
   }

   .thumbnail:hover {
    -webkit-transform: rotate(4deg); /* Safari */
    transform: rotate(4deg);
   }

   .overlay p {
     text-align: center;
   }


                  /* .container:hover .image {
                    opacity: 1;
                  }

                  .container:hover .middle {
                    opacity: .8;
                  }

                  .text p {
                    font-size: 16px;
                    font-weight: 300;
                    text-align: center;
                  }*/


   .skills-tools {
     position: relative;
     margin: 10%;
     padding-left: 1rem;
     padding-right: 1rem;
     height: 100%;
     color: #171717;
     text-align: left;
   }


 .about {
   position: relative;
   background-color: #171717;
   padding: 10%;
   color: #ffffff;
 }

 .about h2 {
   padding-left: 1rem;
 }
 .point {
   position: relative;
   z-index: 1;
 }

 .about p {
   font-weight: 300;
 }

 #about-me-container {
    position: relative;
		height:  100%;
		width: 100%;
		top: 20%;
		/* transform: translateX(-100%); */
    z-index: -1;
  }

  #photo-container {
    position: relative;
    float: right;
		height: 100%;
		width: 100%;
    margin-left:5%;
		top: 20%;
		/* transform: translateX(100%); */
   }

   img.sticky {
       position: -webkit-sticky;
       position: sticky;
       top: 0;
   }


   @media (min-width: 640px) {
     .column-center {
       float: left;
       padding-right: 1rem;
       padding-left: 1rem;
     }

     .column-edge {
       float: left;
     }
